@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-user-select{
    color: #141213;
}

body{
    margin: 0;
    background-color: #f2f8f6;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #151515;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #050505;
  }