@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-user-select{
    color: #141213;
}

body{
    margin: 0;
    background-color: #f2f8f6;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(80, 63, 205, 0.7);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }